<html>
    <head> 
        <style>
            input{
                display: block;
            }
        </style>
    </head>
    <body>
        <form action="http://localhost:8085/speakers/add" method="POST">
            <!-- id<input type="text" name="_id"/> -->
            Full Name<input type="text" name="fullname"/>
            Username<input type="text" name="username"/>
            Password<input type="password" name="userpassword"/>
            City<input type="text" name="city"/>
            Street<input type="text" name="street"/>
            Building<input type="text" name="building"/>
            <input type="submit" />
        </form>
    </body>
</html>